body {
    font-family: Arial, sans-serif;
    background-color: #e2e2e2;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}


.container {
    
    background-color: rgb(170, 170, 170);
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    
}
.container1 {
    
    background: linear-gradient(60deg, rgb(50, 188, 223)25%, rgb(15, 15, 241)75%);
    width: 90%;
    max-width: 1200px;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    
}

 

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    border: 3px solid black;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    
}

nav ul li a {
    text-decoration: none;
    color: #f5f8fb;
    font-weight: bold;
}

nav ul li a:hover {
    background: blue;
    border: 2px solid rgb(255, 2, 2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}

table, th, td {
    border: 1px solid #ddd;
   
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #f53030;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.btn:hover{
    background: rgb(236, 45, 45);
    
}


form {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

label {
    display: block;
    margin-top: 10px;
}

input, select, button {
    width: 95%;
    padding: 10px;
    margin: 5px 0 5px;
    border-radius: 4px;
    border: 1px;
}


button:hover {
    background: #01eeff;
}
/*inicio de  sesion*/
.error {
    color: red;
    text-align: center;
    margin-top: 10px;
}

form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}


label {
    display: block;
    margin: 10px  5px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 5px 0 10px;
    border-radius: 4px;
    border: 1px solid #ddd;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #06fd40;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.btn.eliminar {
    background-color: #c9302c;
}

.btn.eliminar:hover {
    background-color: #c9302c;
}

.Atras{
width: 60px;
border-radius: 10px;



}
.Atras a{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}
.cancelar{
    background-color: #fc120a;
}


/*login*/

#body{
    background: #b9ecec;
}
#contenedor{
    padding: 150px 0px;
    display: flex;
}
.login{
    width: 320px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(60deg, rgb(50, 188, 223)25%, rgb(92, 92, 243)75%);

    border-radius: 0px 8PX 8PX 0PX;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.imput{
    margin: 20px;
    width: 250px;
    font-family: 'Times New Roman', Times, serif;
}

.usuario{
    margin-left: 130px;
}
.imagen-login{
    width: 300px;
    height: 430px;
    margin: 50px auto;
    padding: 5px;
    background: #000000;
    border-radius: 8px 0PX 0PX 8PX;;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.img{
    width: 300px;
    height: 430px;
    padding: 0;
    margin: 0px;
    border-radius: 2px;
   opacity: 0.9;
}
.img2{
    width: 300px;
    margin-top: -700px;
    margin-bottom: 150px;
   
}
.boton{
    margin: 30px;
    width: 250px;
    background: rgb(19, 237, 99);
    border-radius: 50px;
    font-family: 'Times New Roman', Times, serif;
}
