<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" style="background-color: #08b93a;" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="logo.jpg" alt=""
                    width="100" height="50" style="border-radius: 10PX;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html" style="color: #000;" >INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="carrito.html" style="color: #000;">CARRITO </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: #000;" >
                               CATEGORIA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="varones.html">varones</a></li>
                                <li><a class="dropdown-item" href="mujeres.html">mujeres</a></li>
                                <li><a class="dropdown-item" href="niños.html">niños</a></li>
                                <li><a class="dropdown-item" href="niñas.html">niñas</a></li>
                            
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="informacion.html" style="color: #000;" >INFORMACION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="perfil.html" style="color: #000;" >PERFIL</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar Información"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid p-0" >
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators ">
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEbN-QcEguxcZGjD2hsAFlR0PrCioAsu3xyw&s"
                            class="d-block w-100" alt="..." height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6JRj8gl-rckbSOnXto2ALK8tlPb8N6XhTXg&s"
                            class="d-block w-100" alt="..." height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQjigtnCk7u5JtWHfhuwKnRfEyfPDz1msjmGQ&s"
                            class="d-block w-100" alt="..." height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <h3 class="text-center p-3">INFORMACION</h3>
        <div class="container-fluid m-0 p-3 mt-4 row "  style="background:rgba(189, 190, 189, 0.277);">
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 400px;">
                   <H4></H4>
                    <div class="card-body">
                        <h5 class="card-title text-center" >MISION</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text text-center p-5">Enfoque en Calidad y Estilo Duradero: "En (Zapateria Mendoza), nuestra misión es proporcionar a nuestros clientes calzado de la más alta calidad que refleje estilo, comodidad y durabilidad.</p>
                        </div><br>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 400px;">
                   <H4></H4>
                    <div class="card-body">
                        <h5 class="card-title text-center">VISION</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text text-center p-5">  Líderes en la Transformación del Calzados: "Nuestra visión en (zapateria Mendoza), es ser líderes en la transformación de la industria del calzado.</p>
                        </div><br>
                        <div class="text-center">
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 400px;">
                   <H4></H4>
                    <div class="card-body">
                        <h5 class="card-title text-center">VALORES</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text text-center p-5">1. Honestidad<br>
                                 
                                2. Calidad<br>
                                
                                3. Puntualida</p>
                        </div><br>
                        <div class="text-center">
                          
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 400px;">
                
                    <div class="card-body">
                        <h5 class="card-title text-center">LOCALES</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text text-center p-5">Jr. Oswaldo N. Regal N° 278, Huanta 05121</p>
                        </div><br>
                        <div class="text-center">
                           
                        </div>
                    </div>
                </div>
            </div>
            <h1>Mi Ubicacion</h1>
            <iframe
             src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.502477249676!2d-74.25304172677976!3d-12.939666559164177!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910d83ca6ffd1fd5%3A0x59da7d31f8f0beb3!2sZapater%C3%ADa%20Mendoza!5e0!3m2!1ses-419!2spe!4v1720824676799!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"></iframe>



        </div>
        <div class="div"></div>
        <div id="footer" class="col-12" style="background: rgb(6, 189, 6); min-height: 400px;">
            <div class="container-fluid m-0 p-3 mt-4 row "> 
                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                    <img  src="logo.jpg" alt="" class="w-100 p-4 " height="350px" >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 p-5">
                    <a href="informacion.html" style="text-decoration: none;" >  <h4 style="color: #000;">  <img class="" src="logos/ubicacion.png" alt="" height="30px">Ubicacion</h4></a> 
                      <p class="text-center">Jr. Oswaldo N. Regal N° 278, Huanta 05121</p>
                    <h4> <img class="" src="logos/telefono.png" alt="" height="30px"  > Telefono:</h4>
                    <p class="text-center">902345423</p>
                    <a href="https://www.facebook.com/thvalexcitho.dvm/" style="text-decoration: none;" > <h4 style="color: #000;" > <img class="" src="logos//facebook.png" alt="" height="30px"> Facebook:</h4></a>
                    <p class="text-center" > zapateria Mendoza Huanta</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 p-5">
                    <a href="https://www.whatsapp.com/?lang=es_LA" style="text-decoration: none;" >  <h4 style="color: #000;"  > <img class="footerimg" src="logos//whatsaap.png" alt="" height="30px"  > WhatsApp:</h4></a> 
                <p class="text-center" >929292223</p><br>
                <h4>Horario de atencion:</h4>
                <p class="text-center" >Luenes a Viernes</p>
               <p class="text-center" >8:00am  a 1:00 pm</p>
               <p class="text-center" >3:00 pm a 8:00 pm</p>
            </div> 
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>