<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg" style="background-color: #08b93a;" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="logo.jpg" alt=""
                    width="100" height="50" style="border-radius: 10PX;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="index.html" style="color: #000;" >INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="carrito.html" style="color: #000;">CARRITO </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" style="color: #000;" >
                               CATEGORIA
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="varones.html">varones</a></li>
                                <li><a class="dropdown-item" href="mujeres.html">mujeres</a></li>
                                <li><a class="dropdown-item" href="niños.html">niños</a></li>
                                <li><a class="dropdown-item" href="niñas.html">niñas</a></li>
                            
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="informacion.html" style="color: #000;" >INFORMACION</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="perfil.html" style="color: #000;" >PERFIL</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Buscar Información"
                            aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid p-0" >
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators ">
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="2000">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjs8NlbFepxW1nQzil2Q-xcAx6EVtmBzw4IA&s"
                            class="d-block w-100 " alt="..." " height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://static.guiainfantil.com/uploads/educacion/textopies.png"
                            class="d-block w-100" alt="..." height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img src="https://cdn.shopify.com/s/files/1/0190/3093/3604/files/2_1d222c57-3e7a-4747-bbe4-8394895ac463.jpg?v=1678966908"
                            class="d-block w-100" alt="..." height="600px" >
                        <div class="carousel-caption d-none d-md-block">
                            <h5>ZAPATERIA MENDOZA</h5>
                            <p>Bienvenido al Zapateria Mendoza</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <h3 class="text-center p-3">ZAPATILLAS PARA NIÑAS</h3>
        <div class="container-fluid m-0 p-3 mt-4 row "  style="background:rgba(189, 190, 189, 0.277);" >
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://compradorvip.com/wp-content/uploads/2022/09/DNZ674A-6-1-300x300.jpg"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">Nuestras zapatillas Minnie Mouse, están fabricadas con material Poliéster, con planta EVA, disponible en dos colores para que los más pequeños puedan elegir el que más les guste, son una combinación perfecta de estilo y confort para darle la mejor experiencia en cada paso a los más pequeños de la casa..</p>
                        </div><h4>S/ 77.90</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://compradorvip.com/wp-content/uploads/2024/06/Sandalias-Encapellada-Minnie-Mouse-de-Disney-DNS008-A-PURPEL-300x300.jpg"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Las Sandalias tipo capelladas de Comprador Vip son la mejor opción para que los pequeños de la casa vistan con estilo! Contamos con una amplia variedad de productos licenciados con un diseño moderno, resistentes y cómodos.</p>
                        </div><h4>S/ 29.90</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://compradorvip.com/wp-content/uploads/2024/07/Sandalia-Crocs-Disnay-con-Felpa-de-Minnie-Mouse-DNZ302A-300x300.jpg"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Descubre la comodidad de nuestras sandalias con felpa Minnie Mouse que Comprador Vip tiene para ti! El calzado perfecto para las niñas más fashionistas, diseñadas con amor y estilo, estas Crocs son el par perfecto para acompañarte esta temporada, le darán un toque de diversión a los pies de tu pequeña.</p>
                        </div> <h4>S/ 34.90 </h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://compradorvip.com/wp-content/uploads/2024/06/ZDNSN047PURPEL4-300x300.jpg"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Descubre la comodidad de nuestras Sandalias tipo ojotas de Comprador Vip son la mejor opción para que los pequeños de la casa vistan con estilo! Llena sus días de diversión con estas sandalias Frozen, ideales para la playa, piscina o incluso para salir.</p>
                     
                        </div><h4>S/ 31.90 </h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://passarelape.vtexassets.com/arquivos/ids/1479329-1200-auto?v=638471611586530000&width=1200&height=auto&aspect=true"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Lúcete con estas zapatillas urbanas R18 para niños! Tiene una parte superior de PU con paneles transpirables de mesh y ajuste doble de velcro. Lleva una planta ligera de EVA y una suave plantilla de 8 mm para mayor comodidad.</p>
                        </div><h4> S/ 95.00</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://compradorvip.com/wp-content/uploads/2022/09/Zapatillas-Disney-Minnie-Mouse-Para-Ninas-DNZ672-Rosa-1-768x768.jpg"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Los zapatos infantiles de Comprador Vip son la mejor opción para que los pequeños de la casa vistan con estilo! Contamos con una amplia variedad de productos licenciados con un diseño moderno, resistentes y cómodos.</p>
                        </div><h4>S/ 81.90</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://passarelape.vtexassets.com/arquivos/ids/1478255-1200-auto?v=638465612539330000&width=1200&height=auto&aspect=true"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">
                                Adidas
                                Zapatillas Urbanas Adidas Infante Id5282 Advantage Cf,Suela y mediasuela de EVA de una sola pieza I</p>
                        </div><h4>S/ 119.20</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 p-2">
                <div class="card" style="min-height: 500px;">
                    <img src="https://passarelape.vtexassets.com/arquivos/ids/1468379-1200-auto?v=638441492359170000&width=1200&height=auto&aspect=true"
                        class="card-img-top w-100" alt="..." style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Descripcion</h5>
                        <div class="overflow-y-hidden" style="height: 190px;">
                            <p class="card-text">¡Lleva la diversión a todas partes con estas zapatillas con luces R18!. Tiene una parte superior con paneles de mesh transpirable y diseño de estrellas. Lleva una correa de velcro y bandas elásticas para una fácil puesta. Su planta ligera y flexible de EVA brindará la mayor amortiguación para tus pies.</p>
                        </div><h4>S/ 111.00</h4><br>
                        <div class="text-center">
                            <a href="detalles_producto.html" class="btn btn-primary">Ver Detalles</a>
                            <a href="carrito.html" class="btn btn-success">Añadir a Carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="col-12" style="background: rgb(6, 189, 6); min-height: 400px;">
            <div class="container-fluid m-0 p-3 mt-4 row "> 
                <div class="col-lg-4 col-md-4 col-sm-6 p-2">
                    <img cl src="logo.jpg" alt="" class="w-100 p-4 " height="350px" >
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 p-5">
                    <a href="informacion.html" style="text-decoration: none;" >  <h4 style="color: #000;">  <img class="" src="logos/ubicacion.png" alt="" height="30px">Ubicacion</h4></a> 
                      <p class="text-center">Jr. Oswaldo N. Regal N° 278, Huanta 05121</p>
                    <h4> <img class="" src="logos/telefono.png" alt="" height="30px"  > Telefono:</h4>
                    <p class="text-center">902345423</p>
                    <a href="https://www.facebook.com/thvalexcitho.dvm/" style="text-decoration: none;" > <h4 style="color: #000;" > <img class="" src="logos//facebook.png" alt="" height="30px"> Facebook:</h4></a>
                    <p class="text-center" > zapateria Mendoza Huanta</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 p-5">
                    <a href="https://www.whatsapp.com/?lang=es_LA" style="text-decoration: none;" >  <h4 style="color: #000;"  > <img class="footerimg" src="logos//whatsaap.png" alt="" height="30px"  > WhatsApp:</h4></a> 
                <p class="text-center" >929292223</p><br>
                <h4>Horario de atencion:</h4>
                <p class="text-center" >Luenes a Viernes</p>
               <p class="text-center" >8:00am  a 1:00 pm</p>
               <p class="text-center" >3:00 pm a 8:00 pm</p>
            </div> 
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>